<div class="table-responsive">
    <table class="table table-hover table-striped table-dark" ng-model="table">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="rec in records">
                <td> {{ rec.id }}</td>
                <td> {{ rec.name }} </td>
                <td> {{ rec.address.street }}, {{ rec.address.city }}</td>
                <td> {{ rec.phone }} </td>
              </tr>
          </tbody>
    </table>
  </div>